adium-theme-ubuntu==0.3.4
appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
lxml==3.7.2
packaging==16.8
PyMySQL==0.7.10
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
twister==0.0.1
unity-lens-photos==1.0
vlermv==1.4.2
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.2.0
